<ng-container>
  <div class="app-heroes mb-5" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="heroes">
      <div class="img text-white" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="50">
        <h2 class="fs-1 fw-bold">-25% ou plus pour les membres</h2>
        <p class="fs-2 w-50 ms-5 lh-sm">Trouvez l’endroit parfait pour vous en vue d’une escapade hivernale à -25 % ou
          plus grâce aux Prix membres.</p>
      </div>
    </div>
  </div>
</ng-container>>
