<div class="login">
  <mat-card class="p-5 m-5">
    <mat-card-title class="text-center">Login</mat-card-title>
    <mat-card-content class="p-5">
      <mat-error *ngIf="error_message">
        {{error_message}}
      </mat-error>
      <form [formGroup]="userFormGroup" (ngSubmit)="submit()" class="m-4">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput type="text" required>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" required>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Color</mat-label>
            <mat-select formControlName="role">
              <mat-option value="CLIENT">MANAGER</mat-option>
              <mat-option value="MANAGER">ClIENT</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="form-group col-12 text-center">
          <button class="w-100" mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>




