<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Utilisateurs</mat-card-title>
    <mat-card-subtitle>List</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <app-user-list
        [data]="users"
        [userLength]="usersLength"
        [loadingData]="loadingData"
        (onChangeStateFromUser)="ChangeStateFromUser($event)"
        (openAddUserDialog)="openAddUserDialog()"
      >
      </app-user-list>
    </div>
  </mat-card-content>
</mat-card>
