<ng-container *ngTemplateOutlet="emptyRef">
</ng-container>

<ng-template #emptyRef>
  <div class="card mx-5" style="height: auto">
    <div class="card-body py-5">
      <div class="card-px text-center py-5 my-2 pb-12">
        <h2 class="fs-2x fw-bolder mb-10">{{ Title }}</h2>
        <p
          class="text-gray-400 fs-4 fw-bold mb-10"
          [innerHTML]="Description"
        ></p>
        <div *ngIf="buttonState">
          <app-button
            [LabelButton]="LabelButton"
            (click)="onButtonClick($event)"
            [style]="'m-2'"
            [color]="'primary'"
          >
          </app-button>
        </div>
      </div>
      <div class="text-center px-4">
        <img
          class="mw-100 mh-300px"
          alt=""
          [src]="Image"
          [style.height]="heightImage"
        />
      </div>
    </div>
  </div>
</ng-template>

