<mat-nav-list class="px-4">
  <div mat-list-item class="mb-5" (click)="onSidenavClose()">
    <button mat-icon-button (click)="onSidenavClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <a class="text-white my-2" mat-list-item routerLink="/manager/home" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon class="mx-2">home</mat-icon>
    <span class="nav-caption">Dashboard</span>
  </a>
  <a class="text-white my-2" mat-list-item  routerLink="/manager/hotels" routerLinkActive="active"  (click)="onSidenavClose()">
    <mat-icon class="mx-2">hotel</mat-icon>
    <span class="nav-caption">Hotels</span>
  </a>
  <a class="text-white my-2" mat-list-item routerLink="/manager/chambres" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon class="mx-2">bed</mat-icon>
    <span class="nav-caption">chambres</span>
  </a>
  <a class="text-white my-2" mat-list-item  routerLink="/manager/annances" routerLinkActive="active"  (click)="onSidenavClose()">
    <mat-icon class="mx-2">announcement</mat-icon>
    <span class="nav-caption">Annances</span>
  </a>
  <a class="text-white my-2" mat-list-item  routerLink="/manager/reservations" routerLinkActive="active"  (click)="onSidenavClose()">
    <mat-icon class="mx-2">announcement</mat-icon>
    <span class="nav-caption">Reservations</span>
  </a>
</mat-nav-list>

